#categoryBox {
  position: absolute;
  top: 10px;
  left: 190px;
  z-index: 10;
  flex-direction: column;
}

.categoryButtons {
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  width: 60px;
  height: 30px;
  line-height: 10px;
  font-size: 12px;
}

#categorybtn1 {
  position: absolute;
  top: 10px;
  left: 190px;
  z-index: 10;
}

#categorybtn2 {
  position: absolute;
  top: 10px;
  left: 260px;
  z-index: 10;
}

#categorybtn3 {
  position: absolute;
  top: 10px;
  left: 330px;
  z-index: 10;
}
#categorybtn4 {
  position: absolute;
  top: 10px;
  left: 400px;
  z-index: 10;
}

#categoryButtons button:hover {
  background-color: #f0f0f0;
}
