#category-select {
  position: absolute;
  top: 20px;
  left: 380px;
  z-index: 2;
}

#distance-select {
  position: absolute;
  top: 20px;
  left: 490px;
  z-index: 2;
}

.categoryButtons {
  margin: auto 5px;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  width: 60px;
  height: 30px;
  line-height: 10px;
  font-size: 12px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

.overlaybox {
  position: relative;
  width: 500px;
  height: 350px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 8px 8px 5px;
  border: 0.5px solid gray;
}

.closeBtn {
  position: absolute;
  top: 0px;
  right: 8px;
  width: 10px;
  height: 10px;
  font-weight: bold;
  font-size: 12px;
}

.closeBtn:hover {
  cursor: pointer;
}

#main_maker_img {
  position: absolute;
  top: 25px;
  left: 10px;
}

#main_maker_img:hover {
  cursor: pointer;
}

#main_maker_img img {
  width: 300px;
  height: 300px;
  border-radius: 10px;
}

#main_maker_content {
  position: absolute;
  top: 30px;
  right: 70px;
}

#main_maker_content2 {
  position: absolute;
  bottom: 20px;
  right: 15px;
}

#main_maker_name {
  font-size: 16px;
}

#main_maker_create {
  font-size: 14px;
}

/* 줌 인 아웃 */
.custom_zoomcontrol {
  position: absolute;
  top: 40%;
  right: 40px;
  z-index: 2;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

.custom_zoomcontrol button {
  display: block;
  width: 45px;
  height: 45px;
  text-align: center;
  line-height: 30px;
  border: none;
  background: none;
  font-size: 16px;
}

.custom_zoomcontrol button:focus {
  outline: none;
}
