#category-select {
  position: absolute;
  top: 20px;
  left: 400px;
  z-index: 2;
}

#distance-select {
  position: absolute;
  top: 20px;
  left: 510px;
  z-index: 2;
}

.categoryButtons {
  margin: auto 5px;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  width: 60px;
  height: 30px;
  line-height: 10px;
  font-size: 12px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

.overlaybox {
  width: 350px;
  height: 450px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #ddd;
}

.main_maker_header {
  display: flex;
  margin-bottom: 10px;
}

.closeBtn {
  width: 10px;
  height: 10px;
  font-weight: bold;
  font-size: 20px;
  margin-left: auto;
  margin-right: 10px;
}

.closeBtn:hover {
  cursor: pointer;
}

#main_maker_img {
  margin-left: 24px;
}

#main_maker_img:hover {
  cursor: pointer;
}

.main_maker_label {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 8px;
  margin-left: 25px;
  font-size: 14px;
  border-radius: 0px 0px 10px 10px;
}

#main_profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 15px;
}

#main_maker_img img {
  width: 300px;
  height: 300px;
  border-radius: 10px;
}

#main_maker_profile {
  display: flex;
  font-size: 16px;
  margin: 5px auto 10px 10px;
}

#main_profile {
  margin-right: 10px;
}

#main_maker_name {
  padding-top: 7px;
}

#main_maker_content2 {
  display: flex;
  font-size: 14px;
}

#main_maker_content_semi {
  margin: 5px auto auto 25px;
  font-size: 14px;
}

#main_maker_like {
  margin-left: 25px;
}

#main_maker_create {
  margin-left: auto;
  margin-right: 25px;
}

/* 줌 인 아웃 */
.custom_zoomcontrol {
  position: absolute;
  top: 40%;
  right: 40px;
  z-index: 2;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

.custom_zoomcontrol button {
  display: block;
  width: 45px;
  height: 45px;
  text-align: center;
  line-height: 30px;
  border: none;
  background: none;
  font-size: 16px;
}

.custom_zoomcontrol button:focus {
  outline: none;
}
