/* 전체적인 컨테이너 조정 */
.detail_container {
  display: flex;
  height: 100%;
  width: 100%;
  margin: 0;
}

/* 게시글 이미지 관련 */
#detail_picture {
  height: 100vh;
  width: 80%;
  display: flex;
  justify-content: center;
}

/* 게시글 이미지 */
#detail_picture_item1 img {
  height: 100vh;
  object-fit: contain;
}

/* 오른쪽 내용 크기 조정 */
#detail_content_story {
  height: 100vh;
  width: 40%;
  border: 1px solid black;
}

/* 프로필 */
#detail_right_profile {
  border-bottom: 1px solid black;
}

/* 내용 프로필 */
#detail_content_profile {
  margin: 20px auto 20px 10px;
  display: flex;
}

/* 게시글 프로필 위치조정 */
#detail_content_profile div {
  font-size: 13px;
  margin-left: 8px;
}

/* 프로필 사진 크기조정*/
#test_profile_img {
  width: 40px;
  height: 40px;
}

#test_profile_img img {
  border-radius: 50px;
  width: 40px;
  height: 40px;
}

#test_profile_img:hover {
  cursor: pointer;
}

/* 프로필 아이디 크기 및 위치조정 */
#detail_profile_id p {
  margin-left: 12px;
  font-weight: bold;
  font-size: 13px;
}

/* 프로필 주소 */
#detail_profile_address {
  display: flex;
}

/* 프로필 주소 옆 마커 이미지 */
#detail_profile_address img {
  margin-top: 2px;
  width: 16px;
  height: 16px;
}
/* 게시글 프로필 end */

/* 게시글 내용 위치조정 */
#detail_user_content {
  position: relative;
  height: 20%;
  border-bottom: 1px solid black;
}

/* 유저가 작성하는 게시글내용 */
#detail_user_write_content {
  margin-left: 5px;
  font-size: 12px;
}

/* 해쉬태그 */
#hashtag {
  position: absolute;
  bottom: 0;
  margin-left: 5px;
  font-size: 12px;
  color: #016592;
}
/* 게시글 내용 end */

/* 게시글 댓글 */
#detail_content_coment {
  position: relative;
  border-bottom: 1px solid black;
  border: 1px solid #ccc;
  height: 490px;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

#detail_content_coment::-webkit-scrollbar {
  display: none;
}

/* 게시글 수정 삭제 아이콘 */
#detail_content_edit {
  position: absolute;
  bottom: 100px;
  right: 0px;
}

/* 게시글 수정 삭제 조정 */
#detail_Dropdown {
  background-color: #f5f5f5;
  border: none;
}

#detail_Dropdown:hover {
  background-color: #ccc;
}

/* 댓글 이미지 */
#test_coment_img {
  background-color: black;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  margin: 0px 18px 18px 18px;
}

#test_coment_img:hover {
  cursor: pointer;
}

/* 댓글 단 사람 위치 조정 */
#detail_coment_deep {
  display: flex;
  margin-top: 10px;
}

/* 댓글 아이디 */
#detail_coment_id {
  font-size: 13px;
  font-weight: bold;
}

/* 댓글 내용 */
#detail_coment_content {
  font-size: 12px;
  width: 390px;
}

/* 댓글 작성 날짜  */
#detail_coment_date {
  color: #5a5a5a;
  font-size: 12px;
}

/* 댓글 수정 삭제 라인 */
#detail_coment_edit_line {
  display: flex;
  font-size: 12px;
}

/* 댓글 삭제 */
#detail_coment_delete {
  margin-left: 10px;
}

#detail_coment_delete:hover {
  color: rgb(101, 169, 228);
  transition: 0.25s;
}

#detail_comment_like {
  display: flex;
  width: 15px;
  height: 15px;
}

#detail_comment_like:hover {
  cursor: pointer;
}

#detail_comment_like_count {
  margin: 0px 5px;
  font-size: 10px;
}

#detail_coment_recoment {
  font-size: 12px;
  color: #5a5a5a;
  margin: auto 7px;
}

#detail_coment_recoment:hover {
  cursor: pointer;
}

#detail_reply_content {
  margin-top: 10px;
  width: 100%;
  font-size: 12px;
}

#detail_reply_write_button {
  font-size: 12px;
  color: #5a5a5a;
}

/* 댓글 end */

/* 댓답글 */
.comment-children {
  margin-left: -50px;
}

.comment-children #detail_coment_deep {
  width: 100%;
}

.comment-children #detail_coment_id {
  width: 100%;
}
.comment-children #detail_coment_content {
  width: 100%;
}

/* 멘션 리스트 */
.mention-list {
  font-size: 12px;
  border-radius: 10px;
}

.mention {
  color: rgb(0, 174, 255);
}

/* 멘션 이미지 */

.mention_profile {
  display: flex;
}

.mention_profile:hover {
  cursor: pointer;
  background-color: #ccc;
}

.mention_profile img {
  margin: 5px 5px;
  width: 25px;
  height: 25px;
  border-radius: 50px;
}

.mention-list-parent {
  position: absolute;
  bottom: 2px;
  font-size: 12px;
  max-height: 130px;
  width: 250px;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.mention_name {
  padding-top: 8px;
}

/* 좋아요 칸 위치 조정 */
#detail_content_heart {
  display: flex;
  position: relative;
  border-bottom: 1px solid black;
  font-size: 14px;
}

/* 좋아요 위치 조정 */
#detail_heart_count {
  margin: auto 5px auto 10px;
  display: flex;
  font-size: 14px;
}

#detail_like_button {
  padding-top: 4px;
}

#detail_like_button img {
  width: 15px;
  height: 15px;
}

#detail_like_button img:hover {
  cursor: pointer;
}

/* 게시글 게시지난 날짜 */
#detail_heart_write_date {
  position: absolute;
  right: 0;
  margin-right: 10px;
}

/* 좋아요 게시 날짜 end */

/* 댓글작성 */
#detail_coment_content_content {
  position: relative;
  width: 100%;
  height: 130px;
  resize: none;
  background-color: #f5f5f5;
  font-size: 12px;
  padding: 10px;
}

/* textarea클릭시 border 진해짐 제거 */
#detail_coment_content_content:focus {
  outline: none;
}

#detail_coment_write_button {
  position: absolute;
  right: 0;
  margin-right: 15px;
  color: rgb(0, 0, 0);
  font-size: 14px;
  border-radius: 5px;
}

#detail_coment_write_button:hover {
  background-color: #ccc;
  border: 1px solid gray;
}

#detail_coment_write_button:hover {
  color: rgb(255, 255, 255);
  transition: 0.25s;
}

/* 조회된 댓글이 없는 경우 */
#no_comments {
  display: flex;
  justify-content: center;
  font-size: 12px;
  padding: 50px;
  height: 490px;
}

/* 조회된 게시글이 없을 경우 */
#detail_not_found_error {
  width: 100%;
  height: 100vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.file_preview_wrapper {
  display: inline-block;
  position: relative;
  margin: 5px;
}

.remove_image_button {
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  border: none;
  color: red;
  font-weight: bold;
  cursor: pointer;
  padding: 5px;
}
#preview_container {
  display: flex;
  justify-content: center;
  background-color: black;
  height: 100vh;
}

#image_preview {
  max-width: 100px;
  max-height: 100px;
}

video {
  max-width: 150px;
}

audio {
  margin-top: 45%;
}

#d_d {
  width: 40px;
  height: 40px;
  border-radius: 50px;
}
